.header {
  display: flex;
  align-items: center;
  padding-left: 40px;
  height: 80px;
  background: #de325e;

  & a {
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
  }
}
